*{
	font-family: sans-serif;
	padding: 0; margin: 0; box-sizing: border-box;
}
.nav1{
	background: rgb(22 21 21);
	color: #9c9c9c;
	font-family: sans-serif;
	font-size: 0.8rem;
	font-weight: bold;
	width: 100%;
	padding: 0.5rem 5%;

}
.nav1 p:hover,.nav1 h4:hover{
	color: rgb(31 199 255);
}
.topnav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: auto;
	column-gap: 35px;
}
.flex{
	display: flex;
	column-gap: 1.5rem;
}
.container > p, .sign_log h4{

	transition: 0.8s;
	cursor: pointer;
}
.sign_log h4{
	font-family: cursive;
}

.nav2 {
	padding: 0 5%;
	position: absolute;
	z-index: 2;
	width: 100%;
	/*height: 50px;*/
	background-color: #302c2c;
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-between;
	align-items: center;
}
.nav2 .logo{
	display: flex;
	align-items: center;
}
.nav2 ul{
	display: flex;
	align-items: center;
	column-gap: 1.5rem;
	font-family: cursive;
	font-weight: bold;
	font-size: 13px;
}
.nav2 img{
	width:50px;
}
.nav2 .logo h2{
	font-family: sans-serif;
	color: #9c9c9c;
	font-size: 1.3rem;
	transition: 0.2s ease-in-out;

}
.nav2 .logo h2:hover{
	color: rgb(31 199 255);
	transform: translateY(5px);
	animation: animatedBorder;
	animation-duration: 0.2s;
}
@keyframes animatedBorder{
	from{
		border: 1px solid rgb(31 199 255);
	}
	to{
		border: 1px solid rgb(31 199 255);
	}
}
.nav2 label, #checked{
	display: none;
}
.nav2 ul li{
	list-style: none;
}
.nav2 a{
	color: white;
	display: block;
	text-decoration: none;
	border: 1px solid transparent;
	transition: 0.2s ease-in-out;
	padding: 10px 0;
}
.nav2 a:hover{
	color: rgb(31 199 255);
	animation: animatedBorder;
	animation-duration: 0.2s;
	transform: translateY(5px);
	border: 1px solid transparent;
}   
main{
	margin-top: 45px;
}
.section1{
	display: grid;
	grid-template-columns: repeat(2,  1fr);
	padding-bottom: 10px;
	background-color: #0c89b3;
	min-height: 270px;
	padding: 0 5%;
}
.section1 .left h1{
	padding-top: 40px;
	color: white;
	font-size: 2rem;
	font-family: sans-serif;
}
.section1 .left p{
	font-family: cursive;
	color: white;
	margin: 10px 0;
}
.section1 .left a{
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #156e65;
	font-family: sans-serif;
	font-weight: bold;
	border-radius: 10px;
	background-color: white;
	border: 1px solid white;
	margin: 10px 0;
}
.section1 .left a:hover{
	background-color: #065f7c;
	color: white;
}
.section1 .right{
	display: grid;
	justify-content: center;
	align-items: center;
}
.section1 .right img{
	    width: 426px;
    height: 322px;
    animation: animatedimage;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    /*transition: 0.2 ease-in-out;*/
}
@keyframes animatedimage{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(20px);
	}
	100%{
		transform: translateY(0px);
	}
}
.section2{
	margin: 0 5%;
}
.section2 h1{
	margin: 20px 0;
	text-align: center;
	color: #0c82d1;
}
.section2 .blog{
	margin: 100px 0;
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
.section2 .blog .bloging{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}
.section2 .blog .bloging i{
	color: white;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	background-color: #0c82d1;
	padding: 20px;
	margin-bottom: 1rem;
	font-size: 55px;
}
.section2 .blog .bloging span{
	font-family: 'Meddon', cursive;
	font-style: italic;
	font-size: 25px;
	margin: 0.4rem;
}
.section2 .blog .bloging p{
	text-align: justify;
	overflow-wrap: break-word;
	padding: 0 10px;
}
.section2 .blog .bloging a{
	margin: 0.5rem;
	font-weight: bold;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #0c82d1;
	align-self: end;
}
.section3 {
	margin: 0 5%;
}
.section3 .portfolio{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5em;
}
.portfolio a{
	color: black;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	border: 1px solid #0c82d1;
	padding: 0.1rem;
	text-align: center;
}
.portfolioblog{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
	grid-gap: 20px;
}
.portfolioblog .box{
	background-color: #e4e4e4;

}
.portfolioblog .img{
	height: 150px;
	overflow: hidden;
}
.portfolioblog .box img{
	width: 100%;
	height: 100%;
}
.portfolioblog .box h3{
	text-align: center;
	margin: 0.2em 0;
}
.portfolioblog .box p{
	padding: 10px;
}
footer{
	margin-top: 50px;
	padding-bottom: 20px;
	background-image: url(b2.jpg");
}
footer h2{
	text-align: center;
	color: white;
	padding-top: 40px;
}
footer p{
	color: white;
	padding: 20px;
}
footer a{
	display: block;
	width: fit-content;
	margin: auto;
	padding: 10px;
	color: white;
	border: 1px solid white;
	text-decoration: none;
}
footer a:hover{
	color: black;
	background-color: white;
}
/*--------------*/
@media screen and (max-width: 830px)
{
	.topnav .container{
		display: none;
	}
	.topnav{
	justify-content: end;
	}
	.nav2 label{
	display: block;
	color: white;
	font-size: 30px;
	cursor: pointer;
}

.nav2 #checked:checked  + ul{
	display: block;
}
.nav2 ul{
	display: none;
	grid-column: span 2;
	font-size: 16px;
	padding-bottom: 10px;
}
.nav2 ul li a:hover{
	    background: #1fc7ff;
    color: black;
    border-radius: 10px;
    padding-left: 20px;
    animation: unset;
    animation-duration: unset;
    transform: translateY(0px);
    border: none;
}
.section1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
.section1 .right{
	padding-bottom: 10px;
}
.section1 .right img{
	width: 100%;
	height: auto;
}
.section3 .portfolio {
    flex-direction: column;
    row-gap: 10px;
}
.section3 .portfolio .category{
    align-self: center;
}
.section3 .portfolio .category a{
	margin-bottom: 10px;
}
}
